<% resources.each do |resource| %>
  <section class="example" id="resource_<%= resource['name'].underscore.gsub(/\s+/, '_') %>">
    <% resource['examples'].each do |example| %>
      <article id="example_<%= example['link'].gsub('.json', '') %>">
        <% set_example(example['link'].gsub('.json', '')) %>
        <%= render partial: 'example' %>
      </article>
    <% end %>
  </section>
<% end %>
