<% if Apitome.configuration.readme %>
  <section class="readme" id="readme">
    <article>
      <%= raw formatted_readme %>
    </article>
  </section>
<% end %>
<% if Apitome.configuration.single_page %>
    <a href="#top" id="scroll-to-top" class="hidden btn btn-primary">Back to Top</a>
<% end %>
<%= render 'all_examples' if Apitome.configuration.single_page %>