<h1 class="resource-name"><%= example['resource'] %></h1>
<%= render partial: 'resource_explanation', locals: { explanation: example['resource_explanation'] } if example['resource_explanation'] %>
<%= render partial: 'example', locals: { example: example.merge!(link: params[:path]) } %>
