/*
 *= require apitome/bootstrap.min
 *= require apitome/highlight_themes/default
 */

body {
  position: relative; /* For scrollyspy */
  padding-top: 50px; /* Account for fixed navbar */
}

pre code {
  padding: 0;
  background: transparent;
}

.table code {
  font-size: 13px;
  font-weight: normal;
}


.docs-nav {
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #eee;
  border-color: #ddd;
  border-top: 4px solid #009dc4;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
.docs-nav .navbar-brand {
  margin: 0;
}
.docs-nav .navbar-brand a {
  color: #333;
  text-decoration: none;
}


.sidebar.affix {
  position: static;
}
.sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}
.sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}
.sidebar .nav .nav {
  /*display: none; *//* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

@media screen and (min-width: 992px) {
  .sidebar .nav > .active > ul {
    display: block;
  }
  .sidebar.affix,
  .sidebar.affix-bottom {
    width: 213px;
  }
  .sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .sidebar.affix-bottom .sidenav,
  .sidebar.affix .sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .sidebar.affix-bottom,
  .sidebar.affix {
    width: 263px;
  }
}


.docs-section + .docs-section {
  padding-top: 40px;
}

/* Janky fix for preventing navbar from overlapping */
h1[id] {
  padding-top: 80px;
  margin-top: -45px;
}
